[Unit]
Description=Webapp - Running the webapp on start
After=network.target
[Service]
Type=simple
User=ubuntu
ExecStart=/bin/bash -c "source /etc/environment && cd /home/ubuntu/webapp/ && npm start"
Restart=on-failure
[Install]
WantedBy=multi-user.target